{{> head}}

{{> navbar }}

<div class="row">
    <div class="col">
        <h1>Machu Pichu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur ea expedita fugit laboriosam
            nesciunt numquam officia placeat saepe similique. Dolore eos fuga ipsam libero nisi quis rerum similique,
            soluta?</p>
        <img src="assets/img/machu-picchu.webp" class="img-thumbnail" alt="">
    </div>
    <div class="col">
        <h1>Kuelap</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur ea expedita fugit laboriosam
            nesciunt numquam officia placeat saepe similique. Dolore eos fuga ipsam libero nisi quis rerum similique,
            soluta?</p>
        <img src="assets/img/kuelap.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}
